/*
Project Name: Relaxr Landing Page
Author: Trevor Lazarus
Front End Developer @GA in NYC
*/
a {
	text-decoration: none;
}
#logo {
	text-align: left;
	padding-left: 60px;
}
.top {
	background: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	/*background-size: 100%;--not sure what is proper form here*/
	text-align: center;
	padding: 40px 20px 200px 20px;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 48px;
	color: white;
	padding-bottom: 150px;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 48px;
	color: white;
	padding-bottom: 50px;
}
.top a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 28px;
	border: solid;
	border-style: none;
	border-radius: 5px;
	color: black;
	background-color: #f9e42e;
	padding: 5px 20px;
}
.benefits {
	background-color: #f0efef;
	padding: 50px 0px 50px 50px;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 40px;
}
.benefits p {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 300;
	max-width: 625px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 50px;
	line-height: 28px;
}
.benefits ul {
	font-family: 'Open Sans', sans-serif;
	list-style: disc inside;
	font-size: 26px;
	font-weight: 300;
	padding-left: 80px;
	max-width: 550px;
	line-height: 28px;
}
.benefits li{
	padding-bottom: 15px;
}
.quote {
	background: url(../images/testimonial_bg.jpg);
	text-align: center;
	padding: 50px;
	/*background-repeat: no-repeat;*/
	background-size: 100%;
}
.quote p {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 300;
	font-size: 36px;
	font-style: italic;
	max-width: 600px;
	line-height: 40px;
	margin: 0 auto;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin: 0 auto;
	font-size: 36px;
	font-weight: 600;
	margin:8px;
}
.cta {
	background-color: #f9e42e;
	padding: 30px;
	text-align: center;
}
.cta a {
	background-color: #033048;
	color: white;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	border: solid;
	border-style: none;
	border-radius: 5px;
	padding: 5px 20px;
}
footer {
	background-color: #121212;
	text-align: center;
	padding: 0px;
	color: white;
	font-size: 18px;	
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 50px;
	margin: 0 auto;
}
footer h1 {
	color: #f9e42e;
	padding: 0px;
}
footer img {
	padding: 65px 25px;
}
/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

